* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    background-color: #333;
    padding: 20px;
    display: ruby-text;
}

ul {
    display: flex;
    justify-content: end;
    margin-right: 80px;

}

ul a {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    text-transform: uppercase;
}

ul a:hover {
    color: rgb(255, 204, 0);
}

h1 {
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    text-transform: uppercase;
    font-optical-sizing: auto;
    /* font-weight: weight; */
    font-style: normal;
    text-align: center;
}

.title_logo{
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-size: 35px;
    margin-top: 0;
    font-style: normal;
    text-transform: none;
    text-align: left;
}

p {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    display: inline-flex;
    padding: 15px;
    margin: 0 100px 0 100px;
}

.list-tec {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.list-tec i {
    padding: 10px;
    font-size: 50px;
}

.list-tec i:hover {
    color: rgb(255, 204, 0);
}

.list-social {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
}

.list-social a {
    color: white;
}

.list-social i {
    padding: 10px;
    font-size: 50px;
}

.list-social i:hover {
    color: rgb(255, 204, 0);
}

main {
    flex: 1;
}

footer {
    text-align: center;
    background-color: #333;
}

@media screen and (max-width: 400px) {

    h1 {
        margin-top: 25px;
    }

    p {
        padding: 15px;
        margin: 0 25px 0 25px;
    }

    .list-tec i {
        font-size: 30px;
    }

    .list-social i {
        font-size: 30px;
    }

    .hamburger {
        padding: 25px;
        display: flex;
        flex-direction: column;
        place-items: self-end;
        cursor: pointer;
    }

    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    nav {
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 50%;
        background-color: #333;
        top: 80px;
        right: 0;
        border-radius: 0 0 10px 10px;
        position: fixed;
        margin: 0;
    }

    nav ul.show {
        display: flex;
    }

}

@media screen and (max-width: 600px) and (min-width: 401px){

    h1 {
        margin-top: 25px;
    }

    p {
        padding: 10px;
        margin: 0 25px 0 25px;
    }

    .list-tec i {
        font-size: 40px;
    }

    .list-social i {
        font-size: 40px;
    }

    .hamburger {
        padding: 25px;
        display: flex;
        flex-direction: column;
        place-items: self-end;
        cursor: pointer;
    }

    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
    }

    nav {
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        display: none;
        width: 50%;
        background-color: #333;
        top: 80px;
        right: 0;
        border-radius: 0 0 10px 10px;
        position: fixed;
        margin: 0;
    }

    nav ul.show {
        display: flex;
    }

}

@media screen and (max-width: 900px) and (min-width: 600px) {
    
    nav{
        padding: 15px;
    }
    
    a{
        font-size: 14px;
    }

    ul{
        margin-right: 10px;
    }

    p {
        margin: 0 40px 0 40px;
    }

}

@media screen and (max-width: 1800px) and (min-width: 901px) {
    ul {
        margin-right: 20px;
    }
    
    p{
        margin: 0 80px 0 80px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1801px){
    p{
        font-size: 20px;
    }
}