* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(204, 182, 182);
    padding: 25px;
}

footer {
    background-color: rgb(204, 182, 182);
    padding: 25px;
    display: flex;
}

body {
    background-color: rgb(241, 232, 232);
}

li{
    display: inline-flex;
    align-items: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: rgb(68, 41, 41);
}

h2 {
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
    font-size: 25px;
    color: rgb(68, 41, 41);
    display: list-item;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

legend{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: rgb(68, 41, 41);
    font-size: larger;
}

strong{
    color: rgb(68, 41, 41);
}

section {
    margin: 0 45px 0 25px;
}

a {
    font-family: 'Quicksand', sans-serif;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    color: rgb(68, 41, 41);
    align-items: center;

}

a:hover {
    color: rgb(165, 138, 138);
}

ul {
    margin: 10px 0 0 45px;
}

article {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    padding-left: 30px;
    font-size: larger;
}

fieldset {
    border-radius: 15px;
    padding: 2px;
    border: none;
    margin: 0 25px 0 25px;
}

label,
input,
select {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

label {
    padding-left: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
select {
    width: 100%;
    border: 1px outset;
    padding: 10px;
}

/*.label-50 {
    width: 50%;
    float: left;
}*/

.center {
    text-align: center;
    padding: 2%;
}

button {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background:rgb(238, 115, 115);
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.botao-enviar {
    background-color: rgb(160, 235, 137);
    font-family: 'Quicksand', sans-serif;
}

.botao-enviar:hover {
    background-color: rgb(85, 172, 59);
    font-family: 'Quicksand', sans-serif;
}

.botao-limpar:hover {
    background-color: rgb(199, 72, 72);
    font-family: 'Quicksand', sans-serif;
}

/*map {
    border-radius: 10px;
    float: left;
    padding-left: 55px;
}*/

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(209, 179, 179), transparent);
}

.titulo h1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.contato h1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.menu {
    display: flex;
    align-items: center;
}

.menu img {
    margin: 0 35px 0px 20px;
}

.foot {
    display: flex;
    align-items: center;
}

.foot iframe {
    border-radius: 10px;
    align-items: center;
}

.foot ul {
    display: grid;
    text-align: left;
    /*padding-right: 100px;*/
}

.foot h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

/*.label-25 img{
    padding: 80px;
    display: block;
    margin: auto;
    padding-right: 150px;
}*/

.label-25-contato img{
    padding: 1 0px;
    display: block;
    margin: auto;
    padding-right: 150px;
}

img{
    border-radius: 20px;
    display: block;
    
}

  .image {
    border-radius: 20px;
    display: block;
    width: 100%;
    margin: 20px 0 10px 0;
  }
  

#nice{
    display: flex;
    justify-content: center;
}

#a{
    display: flex;
    justify-content: center;
}

.projetinhos{
    display: inline-flex;
    align-items: baseline;
    max-width: 1000px;
}

.social img{
    width: 45px;
    display: inline-flex;
    padding: 30px;
    align-items: baseline;
}

.social{
    display: flex;
    justify-content: center;
}

.projetinhos img:hover {
    transform: scaleX(-1);
  }

  #nice:hover {
    transform: scaleX(-1);
  }